<div id="signin"></div>
<div id="search-coach">
  <form id="search-coach-form" action="/coach/search" method="post">
    <input name="coach" placeholder="Coach" type="text" id="search-coach-name" />
    <div class="block-search-coach">
      <span id="placeholder-select-discipline">Discipline recherchée</span>
      <span id="manage-glyphicon-select-discipline">
        <b id="glyphicon-select-discipline"></b>
      </span>
    </div>
    <div class="block-search-coach">
      <span id="position-search-location">
        <span class="glyphicon glyphicon-pushpin"></span>
      </span>
      <input name="address" placeholder="Où ? (adresse, ville…)" id="input-where-coach" />
    </div>
    <div id="position-search-coach">
        <button id="sur-button-search-coach">
          <span class="glyphicon glyphicon-search"></span>
          <span id="button-search-coach">Rechercher</span>
        </button>
    </div>
    <span id="or-search">OU</span>
  </form>
</div>
